@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Define custom breakpoints */
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;

	/* Define custom spacing */
	--spacing-big: 48rem;

	/* Define custom fonts */
	--font-nunito: "Nunito", sans-serif;

	--animate-open-menu: open-menu 0.5s ease-in-out forwards;
	@keyframes open-menu {
	  0% {
		transform: scaleY(0)
	  } 
	  80% {
		transform: scaleY(1.2)
	  }
	  100% {
		transform: scaleY(1)
	  }
	};

	/* The animation below works, but is not used yet */
	--animate-close-menu: close-menu 0.5s ease-in-out;
	@keyframes close-menu {
		0% {
		  transform: scaleY(1)
		} 
		20% {
			transform: scaleY(1.2)
		}
		100% {
		  transform: scaleY(0)
		}
	}
}